{% extends "base.html" %}

{% block content %}
      <div class="container">
      {% for product in products %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'update_products' product.id %}">{{product.name}}</a></h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">{{product.price}}</p>
          <p class="card-text">{{product.category}}</p>
          <p class="card-text">{{product.stock}}</p>
          <a href="{% url 'update_products' product.id %}" class="btn btn-primary">Update info</a>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock content %}